/*==== GENERAL ====*/

*{
	font-family: "Arvo",courier,serif;
	color: white;

}

body{
	background-color: #111111;
	width: 340px !important;
	margin-left: 33%;
	border-top: 1px solid yellow;
}

h1{
	text-align: center;
}

img{
	border-radius: 4px;
	border: 1px solid silver;
	width: 85px;
	height: 85px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 16px;
}

.tuiles{
	width: 90px;
	height: 90px;
	margin: 4px;
}

i{
	font-size: 48;
}

footer{
	position: absolute;
	bottom: 8px !important;
}

@media (max-width: 400px){
	body{
		margin-left: 0px !important;
		float: left;
	}
}
